{extend name="base"/}
{block name='content'}
<table class="table table-hover">
    <tbody>
    <tr>
        <th class="active" colspan="10">温馨提示</th>
    </tr>
    <tr>
        <td colspan="10">
            e百道个人博客网：<a href="http://www.ebaidao.com" target="_blank">www.ebaidao.com</a>
            e百道个人博客网论坛：<a href="http://bbs.ebaidao.com" target="_blank">bbs.ebaidao.com</a>
        </td>
    </tr>
    <tr>
        <th class="active" colspan="10">系统信息</th>
    </tr>
    <tr>
        <td>核心框架</td>
        <td colspan="5">Thinkphp5.0</td>
    </tr>
    <tr>
        <td>版本号</td>
        <td colspan="5">1.0</td>
    </tr>
    <tr>
        <td>开发者</td>
        <td colspan="5">e百道</td>
    </tr>
    </tbody>
</table>
{/block}
